// bower:scss
// endbower
$purple:#8642ff;
$purple-dark:#7000ff;
$turquoise:#00ffe4;
$white:#ffffff;
$baseFont:'Source Code Pro';
$titleFont:'bluu_nextbold';

@font-face {
    font-family: 'bluu_nextbold';
    src: url('bluunext-bold.woff2') format('woff2'),
         url('bluunext-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  overflow-x: hidden;
  font-family: $baseFont;
  box-sizing: border-box;
}

.purple-back{
  background: $purple;
}

.wrapper{
  max-width: 1200px;
  margin: auto;
}

header {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  h1, h2 {
    font-size: 40px;
    position: relative;
    font-family: $titleFont, sans-serif;
    color: $white;
    z-index: 1;
    display: inline-flex;
    padding-top: 24px;
  }
  .underline span {
    background: $purple-dark;
    width: 100%;
    height: 0.7em;
    right: 0;
    left: -2%;
    top: 70%;
    position: absolute;
    z-index: -1;
  }
  p {
    font-family: $baseFont, monospace;
    font-size: 0.8rem;
    color: $purple;
    &.white {
      color: $white;
    }
  }

}

nav{
  width: 30%;
  &::after{
    content: '';
    height: 100vh;
    width: 2px;
    left: 15%;
    background: $white;
    position: absolute;
    top: 0;
  }
  .nav-icon {
    background: $turquoise;
    width: 40px;
    min-width: 40px;
    height: 30px;
    position: relative;
    img {
      width: 50px;
      position: absolute;
      bottom: -25px;
    }
  }
  .nav-label {
    background: $purple-dark;
    color: $white;
    font-family: $titleFont;
    font-size: 1.4rem;
    line-height: 30px;
    padding: 0 15px;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    &:nth-of-type(2n){
      padding-left: 160px;
      .nav-icon {
        img {
          right: -5px;
        }
      }
      .nav-label {
        padding-left: 30px;
      }
    }
    &:nth-of-type(2n+1){
      padding-right: 137px;
      .nav-icon {
        img {
          left: -5px;
        }
      }
      .nav-label {
        padding-right: 30px;
      }
    }
  }
}

.header-content {
  width: 70%;
  .header-content-inner{
    width: 60%;
    margin: auto;
    p {
      padding-top: 50px;
      line-height: 1.5em;
    }
  }
}

.sticky-sources {
  position: fixed;
  padding-top: 12px;
  right: 0;
  z-index: 90;
  transform: rotate(-90deg);
  a {
      color: $turquoise;
      text-decoration: none;
  }
}
